.search-input-main-container {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .search-container {
    background-color: transparent;
    border-radius: 4px;

    border: 1px solid yellowgreen;
    outline: none;
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
  }
}

.search-input {
  width: 80%;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .search-input {
    width: 200px;
    height: 38px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;

    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;

    flex-grow: 1;
    border: none;
    outline: none;
  }
}

.search-button {
  width: 35px;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .search-button {
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: none;
  }
}
.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .search-icon {
    color: whitesmoke;
  }
}

.category-heading {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 600;
  padding-left: 30px;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .category-heading {
    color: rgb(253, 253, 234);
    font-size: 25px;
    font-weight: 500;
    padding-top: 15px;
    text-align: left;
    padding-left: 30px;
  }
}

.search-filter-catgory-list {
  list-style-type: none;
}

.search-filter-category-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #64748b;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 540;
}

@media screen and (min-width: 768px) {
  .search-filter-category-button {
    color: grey;
    font-size: 22px;
    font-weight: 540;
  }
}
