.home-container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  background-color: aliceblue;
}
.text-container {
  padding: 20px;
}

.heading {
  color: red;
  font-size: 24px;
}

.website-image {
  max-width: 200px;
  margin-left: 20px;
}
