.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f8f9fa;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .home-container {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    background-color: #f8f9fa;
    height: 85vh;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.heading {
  color: #5a8f7b;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .heading {
    color: #5a8f7b;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    padding-top: 40px;
    padding-left: 3px;
  }
}
.heading1 {
  color: #2f4858;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Roboto';
}
@media screen and (max-width: 767px) {
  .heading1 {
    color: #2f4858;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto';
    padding-left: 3px;
  }
}

.paragraph {
  color: #6c757d;
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  .paragraph {
    color: #6c757d;
    font-size: 25px;
    padding-left: 3px;
  }
}
.shop-now-button {
  background-color: #0ac07a;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .shop-now-button {
    width: 120px;
    height: 45px;
    margin-left: 3px;
    margin-bottom: 15px;
  }
}

.website-image {
  width: 360px;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .website-image {
    width: 330px;
    margin-left: 20px;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
@media screen and (max-width: 767px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
}
.card-desing {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 28vh;
  width: 43%;
  margin-right: 40px;

  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 2px 0 15px 5px rgba(1, 6, 33, 0.06);
}
@media screen and (max-width: 767px) {
  .card-desing {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    margin: 10px;
  }
}

.card-desing1 {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 28vh;
  width: 43%;
  margin-left: 40px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 2px 0 15px 5px rgba(1, 6, 33, 0.06);
}
@media screen and (max-width: 767px) {
  .card-desing1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    margin-bottom: 100px;
  }
}
.image-card {
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .image-card {
    height: 100%;
    width: 100%;
  }
}
.description {
  padding-left: 25px;
}
@media screen and (max-width: 767px) {
  .description {
    padding-left: 10px;
  }
}

.card-heading {
  color: #5a8f7b;
  font-size: 25px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .card-heading {
    color: #5a8f7b;
    font-size: 19px;
    font-weight: 600;
  }
}
.card-heading1 {
  color: #2f4858;
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .card-heading1 {
    color: #2f4858;
    font-size: 20px;
  }
}

.card-paragraph {
  color: #6c757d;
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .card-paragraph {
    color: #6c757d;
    font-size: 16px;
  }
}

.footer-container {
  background-color: #2f4858;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: none;
  }
}

.footer-container1 {
  display: flex;
  flex-direction: column;
}

.footer-description {
  padding-top: 20px;
}
.footer-heading {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 550;
  padding-left: 18px;
}
.footer-paragraph {
  color: white;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 450;
  padding-left: 18px;
}
.footer-horizontal {
  width: 90%;
  margin-top: 10px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 30px;
}
.footer-bottom-heading {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 550;
  padding-left: 18px;
}
.footer-bottom-para {
  color: white;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 450;
  padding-left: 18px;
}
.footer-container2 {
  background-color: #2f4858;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer-container2 {
    display: none;
  }
}
.footer-container12 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-bottom1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
}
.footer-heading-desktop {
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 550;
}
.footer-paragraph-desktop {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 450;
}
.footer-bottom-heading-desktop {
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 550;
}
.footer-bottom-para-desktop {
  color: white;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 450;
}
