.payment-details-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  box-shadow: 2px 0 15px 5px rgba(1, 6, 33, 0.06);
  height: 100vh;
  margin-left: 35px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .payment-details-container {
    display: flex;
    flex-direction: row;
    margin-left: 180px;
  }
}

.order-details-container {
  background-color: #263238;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .order-details-container {
    width: 50%;
  }
}

.payment-heading {
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .payment-heading {
    font-size: 35px;
  }
}
.order-display {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .order-display {
    width: 100%;
  }
}

.payment-quantity-container {
  display: flex;
  flex-direction: column;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.payment-price {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .payment-price {
    font-size: 22px;
    padding-right: 80px;
  }
}

.payment-total-price {
  color: yellow;
  font-size: 18px;
  font-weight: 500;

  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .payment-total-price {
    font-size: 22px;
    padding-left: 80px;
  }
}

.payment-discount {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .payment-discount {
    font-size: 22px;
    padding-right: 100px;
  }
}

.payment-discount-price {
  color: yellowgreen;
  font-size: 18px;
  font-weight: 500;
  padding-left: 65px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .payment-discount-price {
    font-size: 22px;
    padding-left: 105px;
  }
}

.payment-free-message {
  color: rgb(173, 250, 20);
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .payment-free-message {
    font-size: 22px;
    padding-left: 30px;
  }
}

.payment-horizontal-line {
  width: 97%;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .payment-horizontal-line {
    width: 90%;
  }
}

.total-amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.payment-final-amount1 {
  padding-top: 6px;
}

.payment-final-amount {
  color: blue;
  font-size: 18px;
  font-weight: 500;
  padding-left: 40px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .payment-final-amount {
    font-size: 22px;
    padding-left: 50px;
  }
}

.payment-heading1 {
  padding-left: 50px;
  color: black;
  font-size: 28px;
  font-family: 'Roboto';
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .payment-heading1 {
    font-size: 35px;
    padding-left: 180px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.payment-option-main-container-upi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .payment-option-main-container-upi {
    justify-content: space-between;
  }
}

.payment-option-container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .payment-option-container {
    padding-left: 60px;
  }
}

.payment-images-upi {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .payment-images-upi {
    margin-top: 12px;
  }
}

.payment-upi-heading {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .payment-upi-heading {
    font-size: 25px;
  }
}

.payment-option-paragraph {
  color: green;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .payment-option-paragraph {
    font-size: 16px;
  }
}

.payment-option-react-icon1 {
  width: 25px;
  height: 25px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .payment-option-react-icon1 {
    width: 28px;
    height: 28px;
    margin-top: 20px;
  }
}

.payment-option-card-list {
  display: flex;
  flex-direction: column;
}

.payment-input-option-main-container {
  display: flex;
  flex-direction: row;

  background-color: #fff;
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .payment-input-option-main-container {
    margin-left: 60px;
    width: 100%;
  }
}

.payment-input-option {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.payment-method-image1 {
  width: 45px;
  height: 45px;
  margin-left: 120px;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .payment-method-image1 {
    width: 55px;
    height: 55px;
    margin-left: 230px;
    margin-top: 5px;
  }
}

.payment-method-input1 {
  height: 15px;
  width: 15px;
  margin-top: 19px;
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .payment-method-input1 {
    margin-left: 30px;
  }
}

.payment-method-label {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #1f246a;
}

.disabled-label {
  color: #1f246a70;
}

.payment-option-displaytext {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}
