.payment-details-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  box-shadow: 2px 0 15px 5px rgba(1, 6, 33, 0.06);
  height: auto;
  margin-left: 35px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .payment-details-container {
    display: flex;
    flex-direction: row;
    margin-left: 180px;
  }
}

.order-details-container {
  background-color: #263238;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .order-details-container {
    width: 50%;
  }
}

.payment-heading {
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .payment-heading {
    font-size: 35px;
  }
}
.order-display {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .order-display {
    width: 100%;
  }
}

.payment-quantity-container {
  display: flex;
  flex-direction: column;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.payment-price {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .payment-price {
    font-size: 22px;
    padding-right: 80px;
  }
}

.payment-total-price {
  color: yellow;
  font-size: 18px;
  font-weight: 500;

  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .payment-total-price {
    font-size: 22px;
    padding-left: 80px;
  }
}

.payment-discount {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .payment-discount {
    font-size: 22px;
    padding-right: 100px;
  }
}

.payment-discount-price {
  color: yellowgreen;
  font-size: 18px;
  font-weight: 500;
  padding-left: 65px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .payment-discount-price {
    font-size: 22px;
    padding-left: 105px;
  }
}

.payment-free-message {
  color: rgb(173, 250, 20);
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .payment-free-message {
    font-size: 22px;
    padding-left: 30px;
  }
}

.payment-horizontal-line {
  width: 97%;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .payment-horizontal-line {
    width: 90%;
  }
}

.total-amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.payment-final-amount1 {
  padding-top: 6px;
}

.payment-final-amount {
  color: blue;
  font-size: 18px;
  font-weight: 500;
  padding-left: 40px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .payment-final-amount {
    font-size: 22px;
    padding-left: 50px;
  }
}

.payment-heading1 {
  padding-left: 50px;
  color: black;
  font-size: 28px;
  font-family: 'Roboto';
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .payment-heading1 {
    font-size: 35px;
    padding-left: 180px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.payment-option-main-container-upi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .payment-option-main-container-upi {
    justify-content: space-between;
  }
}

.payment-option-container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .payment-option-container {
    padding-left: 60px;
  }
}

.payment-images-upi {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .payment-images-upi {
    margin-top: 12px;
  }
}

.payment-upi-heading {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .payment-upi-heading {
    font-size: 25px;
  }
}

.payment-option-paragraph {
  color: green;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .payment-option-paragraph {
    font-size: 16px;
  }
}

.payment-option-react-icon1 {
  width: 25px;
  height: 25px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .payment-option-react-icon1 {
    width: 28px;
    height: 28px;
    margin-top: 20px;
  }
}

.payment-option-card-list {
  display: flex;
  flex-direction: column;
}

.payment-input-option-main-container {
  display: flex;
  flex-direction: row;
}

.payment-input-option-main-container-logic {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .payment-input-option-main-container-logic {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .payment-input-option-main-container {
    margin-left: 60px;
    width: 100%;
  }
}

.payment-input-option {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.payment-method-image1 {
  width: 45px;
  height: 45px;
  margin-left: 120px;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .payment-method-image1 {
    width: 55px;
    height: 55px;
    margin-left: 230px;
    margin-top: 5px;
  }
}

.payment-method-input1 {
  height: 15px;
  width: 15px;
  margin-top: 19px;
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .payment-method-input1 {
    margin-left: 30px;
  }
}

.payment-method-label {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #1f246a;
}

.disabled-label {
  color: #1f246a70;
}

.payment-option-displaytext {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

.payment-button2 {
  width: 200px;
  height: 40px;
  background-color: yellow;
  color: black;
  margin-left: 50px;
  margin-bottom: 8px;
  border-radius: 8px;
  border-width: 0px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .payment-button2 {
    margin-left: 100px;
    width: 350px;
  }
}

.payment-button2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 4px;
  z-index: -2;
}

.payment-button2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #66023c;
  transition: all 0.3s;
  border-radius: 4px;
  z-index: -1;
}

.payment-button2:hover {
  color: #fff;
}

.payment-button2:hover:before {
  width: 100%;
}

.credit-card-number {
  font-size: 20px;
  font-weight: 450;
  font-family: 'Roboto';
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .credit-card-number {
    font-size: 23px;
    padding-left: 90px;
  }
}

.credit-card-input-cardNumber {
  width: 90%;
  height: 40px;
  margin-left: 15px;
  border-color: #4e7d8f;
  border-width: 1px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .credit-card-input-cardNumber {
    width: 80%;
    margin-left: 90px;
  }
}

.credit-month-cvv-number-container {
  display: flex;
  flex-direction: row;
}

.credit-card-cvv-number-details {
  padding-left: 5px;
  padding-right: 40px;
}

.credit-month {
  width: 100px;
  height: 30px;
  margin-left: 15px;
  border-color: hsl(197, 29%, 43%);
  border-width: 1px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .credit-month {
    width: 130px;
    height: 30px;
    margin-left: 90px;
  }
}

.credit-button {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  background-color: yellow;
  color: black;
  margin-left: 50px;
  margin-bottom: 8px;
  border-radius: 8px;
  border-width: 0px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .credit-button {
    margin-left: 100px;
    width: 350px;
  }
}

.credit-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 4px;
  z-index: -2;
}

.credit-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #66023c;
  transition: all 0.3s;
  border-radius: 4px;
  z-index: -1;
}

.credit-button:hover {
  color: #fff;
}

.credit-button:hover:before {
  width: 100%;
}

.payment-cash-on-delivery-paragraph {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  color: green;
  padding-left: 25px;
}

@media screen and (min-width: 768px) {
  .payment-cash-on-delivery-paragraph {
    font-size: 20px;
    padding-left: 110px;
  }
}

.payment-cash-on-delivery-button {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  background-color: yellow;
  color: black;
  margin-left: 50px;
  margin-bottom: 8px;
  border-radius: 8px;
  border-width: 0px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .payment-cash-on-delivery-button {
    margin-left: 100px;
    width: 350px;
  }
}

.payment-cash-on-delivery-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 4px;
  z-index: -2;
}

.payment-cash-on-delivery-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #66023c;
  transition: all 0.3s;
  border-radius: 4px;
  z-index: -1;
}

.payment-cash-on-delivery-button:hover {
  color: #fff;
}

.payment-cash-on-delivery-button:hover:before {
  width: 100%;
}

.payment-horizontal-line1 {
  width: 95%;
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
  height: 12px;
  background-color: #fff;
  margin-left: 8px;
  margin-top: 20px;
  border-width: 0px;
}
@media screen and (min-width: 768px) {
  .payment-horizontal-line1 {
    margin-left: 35px;
    width: 97%;
  }
}

.order-successfuly-placed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.order-successfuly-placed-container1 {
  height: 500px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 0 15px 5px rgba(1, 6, 33, 0.06);
}

@media screen and (min-width: 768px) {
  .order-successfuly-placed-container1 {
    width: 50%;
  }
}

.order-successfully-image-green-tick {
  background-color: transparent;
  border: none;
}

.order-successfully-heading {
  color: green;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order-successfully-heading {
    font-size: 27px;
  }
}

.order-successfully-paragraph {
  color: yellowgreen;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order-successfully-paragraph {
    font-size: 18px;
  }
}

.order-successfully-button {
  background-color: yellow;
  height: 45px;
  width: 200px;
  border-radius: 30px;
  border-width: 0px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.order-successfully-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 4px;
  z-index: -2;
}

.order-successfully-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #66023c;
  transition: all 0.3s;
  border-radius: 4px;
  z-index: -1;
}

.order-successfully-button:hover {
  color: #fff;
}

.order-successfully-button:hover:before {
  width: 100%;
}

.payment-delivery-address-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .payment-delivery-address-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.payment-delivery-address-heading {
  color: white;
  font-size: 25px;
  font-weight: 550;
}

@media screen and (min-width: 768px) {
  .payment-delivery-address-heading {
    font-size: 28px;
    padding-left: 42px;
  }
}

.payment-delivery-address-name {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}

.payment-delivery-address-email {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .payment-delivery-address-email {
    padding-left: 27px;
  }
}

.payment-order-details-container .cart-item {
  background-color: transparent;
  box-shadow: none;
}

.payment-order-details-container .cart-product-title {
  color: white;
}

.payment-order-details-container .cart-product-brand {
  color: white;
}

.payment-order-details-container .cart-quantity {
  color: white;
}

.payment-order-details-container .cart-total-price {
  color: white;
}

.payment-order-details-container .remove-button {
  color: red;
}
